.splash {
  width: 100vw;
  height: 100vh;
  padding: 32px 64px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background-color: #fffffa;
}

.logoContainer {
  width: 450px;
}