.animationContainer {
  transition: opacity 500ms ease-in-out;
}

.fadingOut {
  opacity: 0;
}

.fadingIn {
  opacity: 1;
}

.container {
  width: 100%;
  height: 250vh;
  overflow: hidden;
  position: relative;
  background-color: #fffffa;
}

.title {
  top: -950px;
  left: 12.5%;
  height: 48px;
  margin: auto;
  bottom: 0;
  color: #FF0056;
  font-size: 6rem;
  font-weight: 500;
  position: absolute;
  font-family: var(--font-dm-sans);
}

.image {
  z-index: 0;
  object-fit: cover;
  object-position: left;
}

.chevronButton {
  top: 0;
  border: 0;
  z-index: 2;
  width: 64px;
  margin: auto;
  height: 64px;
  display: flex;
  bottom: -300px;
  cursor: pointer;
  position: absolute;
  align-items: center;
  justify-content: center;
  background-color: transparent;
}

.left {
  left: 64px;
}

.right {
  right: 64px;
}

@media screen and (max-width: 1150px) {
  .chevronButton {
    width: 40px;
    height: 40px;
    bottom: -132px;
    border-radius: 50%;
    border: 1px solid #FF0056;
  }
  
  .left {
    left: 8px;
  }
  
  .right {
    right: 8px;
  }
}

@media(max-width: 650px) {
  .container {
    height: 200vh;
  }

  .title {
    left: 0;
    right: 0;
    top: 450px;
    margin: 0 auto;
    font-size: 4rem;
    text-align: center;
  }
}